<main role="main" class="container">
  <%= if flash = get_flash(@conn, :info) do %>
    <div class="uk-alert-primary" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p><%= flash %></p>
    </div>
  <% end %>

  <%= if flash = get_flash(@conn, :error) do %>
    <div class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p><%= flash %></p>
    </div>
  <% end %>

  <%= @inner_content %>
</main>
